.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(106, 106, 106, 0.1);
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    margin-bottom: 20px;
    text-align: center;
    color: black;
  }
  
  input[type="text"],
  input[type="password"],
  button {
    width: 90%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  button {
    width: 95%;
    background-color: var(--first-color);
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: var(--first-color);
  }
  
  @media screen and (max-width: 600px) {
    .form-container {
      width: 90%;
    }
  }